#status-bar {
    background: #34495e;
    height: 150px;
    margin-top: -40px;
}

#status-bar p {
    color: #ffffff;
    font-size: 12pt;
}

.volume-top {
    color: #000000;
    font-size: 18pt;
    margin-top: 8px;
}

.volume-bottom {
    color: #000000;
    font-size: 8pt;
    margin-top: -8px;
}



#copy_address {}


.soft {
    color: #95a5a6;
    font-size: 12pt;
}



#stats {
    background-color: #EEEEEE;
}

#main_footer a {
    color: #7f8c8d;
}

#main_footer a:hover {
    color: #16a085;
}

#main_footer p {
    color: #7f8c8d;
    font-size: 14pt;
    font-weight: 300;
}

#main_footer {
    background-color: #34495e;
    width: 100%;
}

#main_footer .row {
    background-color: #34495e;
}

#nokey {
    width: 100%;
    height: 80%;
    background: none;
    position: absolute;
}

#home {
    position: relative;
}

.intro {
    font-size: 18pt;
    font-weight: 200;
}

#main-jumbo .lead {
    color: #ecf0f1;
}

#main-jumbo {
    color: #ecf0f1;
    background: linear-gradient(-15deg, #23BCB4, #37B9E9);
}


.light-blue {
    color: #37B9E9;
}

.light-blue:hover {
    color: #23BCB4;
}


#marketing {
    background: none;
}


#canada {
    position: relative;
    width: 40px;
}




#main_form {
    background-color: #ecf0f1;
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
}

.range-slider {
    margin: 60px 0 0 0%;
}

.range-slider {
    width: 100%;
}

.range-slider__range {
    -webkit-appearance: none;
    width: calc(100% - (140px));
    height: 10px;
    border-radius: 5px;
    background: #d7dcdf;
    outline: none;
    padding: 0;
    margin: 0;
}

.range-slider__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
}

.range-slider__range::-webkit-slider-thumb:hover {
    background: #f39c12;
}

.range-slider__range:active::-webkit-slider-thumb {
    background: #f39c12;
}

.range-slider__range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
}

.range-slider__range::-moz-range-thumb:hover {
    background: #f39c12;
}

.range-slider__range:active::-moz-range-thumb {
    background: #f39c12;
}

.range-slider__value {
    display: inline-block;
    position: relative;
    width: 120px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    background: #2c3e50;
    padding: 5px 10px;
    margin-left: 8px;
}

.range-slider__value:after {
    position: absolute;
    top: 8px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid #2c3e50;
    border-bottom: 7px solid transparent;
    content: '';
}

::-moz-range-track {
    background: #d7dcdf;
    border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
    border: 0;
}




textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: #f39c12;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.075) inset, 0 0 8px #f39c12;
    outline: 0 none;
}






.modal {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}